
    <style>

	body {
		background-color: #F4F7FC;
		color: #212529;
	}

    .navbar-default .navbar-brand {
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
    }

	.navbar {
		background-color: #004b85;
	}

	.navbar-nav > li > a {
		color: #white;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
		color: #fff;
		background-color: #0C39A9;
	}

	.btn-primary {
		background-color: #0C39A9;
		border-color: #0C39A9;
		color: #fff;
	}

	.btn-primary:hover,
	.btn-primary:focus {
		background-color: #0C39A9;
		border-color: #0C39A9;
		color: #fff;
	}

    .form-container {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .form-container2{
           background-color: #fff;
           padding: 20px;
           padding-bottom: 40px;
       }

	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}
    .my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

</style>