<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- estilo propio -->
    <div>
        <nav th:fragment="navUser2" class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="peticion/nueva">Biblioteca</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a style="color" href="/peticiones">Acceder</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a style="color" href="/peticiones">Gestionar Revisores</a></li>
                </ul>
                <ul class="nav navbar-nav" style="float: right;">
                    <li><a style="color" href="/logout">Login/Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</html>