<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script
            src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <!-- Custom CSS -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- estilo propio -->
</head>
<body>
    <div th:insert="fragments/nav0 :: navUser0"></div>
    <p th:object="${peticion}"></p>
      <div th:if="${peticion.isPresent()}">
          <div th:if="${peticion.get().id_estado == 1}">
              <form id="form1">
                  <label>El usuario solicitante existe?</label>
                  <input type="radio" id="opcion1U" name="usuario" value="1">
                  <label for="opcion1U">Si</label>
                  <input type="radio" id="opcion2U" name="usuario" value="0">
                  <label for="opcion2U">No</label><br>
                  <button type="button" onclick="Enviar(1)">Enviar</button>
              </form>
          </div>
          <div th:if="${peticion.get().id_estado == 3}">
              <form id="form2">
                  <label>Hay stock vigente?</label>
                  <input type="radio" id="opcion1S" name="stock" value="1">
                  <label for="opcion1S">Si</label>
                  <input type="radio" id="opcion2S" name="stock" value="0">
                  <label for="opcion2S">No</label>
                  <button type="button" onclick="Enviar(2)">Enviar</button>
              </form>
          </div>
      </div>
      <div id="terminosDiv" th:object="${terminos_envio}" th:if="${peticion.get().id_estado == 9}">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="container-2" >
              <h1 style="text-align: center;">VALIDACIÓN</h1>
              <form method="post" th:object="${terminos_envio}">
                  <p hidden="hidden" th:object="${peticion}"></p>
                  <h1>Terminos de envio</h1>
                <label for="terminos">Ingrese los terminos y condiciones para el prestatario</label><br>
                <textarea id="terminos" class="form-control" th:field="*{terminos}"></textarea><br>
                <label for="tipoEnvioText">Ingresa el tipo de envio</label><br>
                <input id="tipoEnvioText" class="form-control" type="text" th:object="${tipo_envio}" th:field="*{tipo}"><br>
                  <label for="DescripcionEnvio">Ingrese una descripcion del tipo de envio</label><br>
                  <input id="DescripcionEnvio" class="form-control" type="text" th:field="*{descripcion_envio}"><br>
                  <label for="FechaVencimiento">Ingrese una fecha de vencimiento</label>
                  <input type="date" class="form-control" id="FechaVencimiento" th:field="*{fecha_vencimiento}"><br>
                  <button type="submit">Enviar Terminos</button>
              </form>
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="container-2">
                    <h2>MENSAJES</h2>
                <div style="background-color:skyblue">
                    <ul>
                        <li th:each="mensaje : ${mensajes}">
                            <p th:text="${mensaje.mensaje}"></p>
                            <p th:text="${mensaje.fecha_mensaje}"></p>
                        </li>
                    </ul>
                </div>
                        <form   th:action="@{/mensajes}" th:object="${mensaje}" method="post">
                            <input hidden="hidden" id="rut_gestor" th:field="*{rut_gestor}">
                            <input type="date" hidden="hidden" id="hora_local" th:field="*{fecha_mensaje}">
                            <input type="text" th:field="*{mensaje}">
                            <input hidden="hidden" th:field="${peticion.id_peticion}">
                            <button type="submit">Enviar</button>
                        </form>
            </div>
        </div>
    <!--<script>
    style="display: none;"

      const opciones = document.getElementsByName('usuario');
          opciones.forEach(opcion => {
            opcion.addEventListener('change', function() {
              if (this.checked) {
                const valorSeleccionado = this.value;
                var div = document.getElementById("pasoUsuario");
                if(valorSeleccionado == 1){
                    div.style.display = "block";
                }else{
                    div.style.display = "none";
                }
              }
            });
          });
    </script>-->
<script>
  hora_local = document.getElementById("hora_local");
  date = new Date();
  hora_local.value = date.toISOString().slice(0, 10);
  document.write(hora_local.value);
</script>
    <script>
  $.ajax({
        url: "http://localhost:8080/gestor",
        type: "GET",
        dataType: "json",
        success: function(data) {
          console.log(data);
          rut = document.getElementById("rut_gestor");
          rut_gestor.value = data.rut_gestor;
        },
        error: function(error) {
          reject(error);
        },
      });

</script>
    <script>
      function Enviar(form) {
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('/') + 1);
        id = parseInt(id);
        if(form == 1){
            const form = document.getElementById("form1");
            const ValUsuario = form.elements["usuario"].value;
            //const ValStock = form.elements["stock"].value;
            if(ValUsuario == 0){
                //ENVIAR ESTADO 2
                $.ajax({
                     url: 'http://localhost:8080/peticion/'+id+'/'+2,
                     type: 'PUT',
                     success: function (data) {
                        window.location.href = "http://localhost:8080/peticiones";
                     },
                     error: function () {
                        alert('Ha ocurrido un error');
                     }
                });
            }else{
                //ENVIAR ESTADO 3
                $.ajax({
                 url: 'http://localhost:8080/peticion/'+id+'/'+3,
                 type: 'PUT',
                 success: function (data) {
                    window.location.href = "http://localhost:8080/peticiones";
                 },
                 error: function () {
                    alert('Ha ocurrido un error');
                 }
              });
            }
        }else{
            const form = document.getElementById("form2");
            const ValStock = form.elements["stock"].value;
            if(ValStock == 0){
                //ENVIAR ESTADO 8
                $.ajax({
                     url: 'http://localhost:8080/peticion/'+id+'/'+8,
                     type: 'PUT',
                     success: function (data) {
                        window.location.href = "http://localhost:8080/peticiones";
                     },
                     error: function () {
                        alert('Ha ocurrido un error');
                     }
                });
            }else{
                //ENVIAR ESTADO 9
                $.ajax({
                 url: 'http://localhost:8080/peticion/'+id+'/'+9,
                 type: 'PUT',
                 success: function (data) {
                    form.style.display="none";
                    const form = document.getElementById("Terminos");
                    form.style.display="block";
                 },
                 error: function () {
                    alert('Ha ocurrido un error');
                 }
              });
            }
        }
      }
    </script>
</body>
</html>