<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peticiones</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script
          src="https://code.jquery.com/jquery-3.6.4.js"
          integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
          crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom CSS -->
  <link th:href="@{/main.css}" rel="stylesheet" />
  <!-- estilo propio -->



  <script>
    var datos;
    $.ajax({
    url: "http://localhost:8080/gestor",
    type: "GET",
    dataType: "json",
    success: function(data) {
      datos = data;
    },
    error: function(error){
      window.location.href='/login'
    }
  });
  </script>
</head>
<body>

<div th:replace="fragments/nav1 :: navUser1"></div>

<div class="container">
  <h1>Peticiones Pendientes</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
      <tr>
        <th>Id</th>
        <th>Autor</th>
        <th>Edicion</th>
        <th>Libro</th>
        <th>Rut</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pet : ${peticiones}" th:object="${pet}">
        <td th:text="*{id_peticion}"></td>
        <td th:text="*{autor}"></td>
        <td th:text="*{edicion}"></td>
        <td><a th:href="*{link}" th:text="*{libro}" Target="_blank"></a></td>
        <td th:text="*{rut_prestatario}"></button></td>
        <td th:id="'correo-' +*{rut_prestatario}"></td>
        <td  th:id="'estado-'+*{id_estado}''"></button> </td>
        <td>
          <button type="button" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg></button>
          <button type="button" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></button>
          <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {
   $('td[id^="estado-"]').each(function() {
      var id = $(this).attr('id').split('-')[1];
      $.ajax({
         url: 'http://localhost:8080/estado/'+id,
         type: 'GET',
         success: function (data) {
            $('#estado-' + id).text(data.estado);
            //console.log(data.);
         },
         error: function () {
            alert('Ha ocurrido un error');
         }
      });
   });
});
</script>

<div class="container">
  <h1>Peticiones Cerradas</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>correo</th>
        <th>telefono</th>
        <th>mensaje</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="form : ${forms}" th:object="${form}">
        <td th:text="*{nombre}"></td>
        <td th:text="*{correo}"></td>
        <td th:text="*{telefono}"></td>
        <td th:text="*{mensaje}"></td>
        <td>
          <a th:href="@{/formularios/editar/{id}(id=*{id})}">Editar</a>
          <a th:href="@{/formularios/eliminar/{id}(id=*{id})}">Eliminar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-g+tH1lUhLj0c6PjLsoQudQLZ/Qptdli1ET62KjxytV2vzjLwW6NHYU6onN05V4B4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-xZYscZiCpOH1/Hbbot+EJu/w3qHXyWwLhYvoFswjLX9v+RZG1db6Jgmm6u1zHvIy"
        crossorigin="anonymous"></script>
</body>
</footer>
</html>