<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- estilo propio -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <style>
    .form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    width: 400px;
}
.col-sm-offset-3 {
    margin-left: 7%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1000px;
}


</style>

</head>
<body>
<div th:insert="fragments/nav0 :: navUser0"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-container">
                <h2>Agregar Biblioteca</h2>
                <form action="" method="post" th:object="${biblioteca}">
                    <div class="form-container2">
                        <div class="form-group">
                            <label for="id_institucion">ID Institución:</label>
                            <select id="id_institucion" name="id_institucion" class="form-control" th:field="*{id_institucion}"> <!--th:field="*{id_institucion}" required-->
                                <option th:value="0">Seleccione una opción</option>
                                <option th:each="inst : ${institucion}"  th:value="${inst.id_institucion}" th:text="${inst.nombre_institucion}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nombre_biblioteca">Nombre Biblioteca:</label>
                            <input type="text" class="form-control" id="nombre_biblioteca" th:field="*{nombre_biblioteca}" name="nombre_biblioteca" placeholder="Introduce el nombre de la biblioteca"> <!--th:field="*{nombre_biblioteca}" required>-->
                            <input hidden="hidden" id="bibHabilitado" th:field="*{habilitado}">
                        </div>
                    </div>
                    <button type="submit" id="enviar" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="form-container">
                <h2> Agregar institucion </h2>
                <form action="" method="post" th:object="${formulario}">
                    <div class="form-container2">
                        <div class="form-group">
                            <label for="id_institucion">ID Institución:</label>
                            <input type="text" class="form-control" id="id_institucion2" name="id_institucion" placeholder="Introduce el ID de la institución"> <!--th:field="*{id_institucion}" -->
                        </div>
                        <div class="form-group">
                            <label for="nombre_institucion">Nombre Institución:</label>
                            <input type="text" class="form-control" id="nombre_institucion" name="nombre_institucion" placeholder="Introduce el nombre de la institución"> <!--th:field="*{nombre_institucion}" required>-->
                        </div>
                        <div class="form-group">
                            <label for="siglas_institucion">Siglas Institución:</label>
                            <input type="text" class="form-control" id="siglas_institucion" name="siglas_institucion" placeholder="Introduce las siglas de la institución"> <!-- th:field="*{siglas_institucion}" required> -->
                        </div>
                    </div>
                    <button type="submit" id="enviar2" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="form-container">
                <table class="table table-bordered table-striped mb-0">
                    <div class="form-group">
                        <label for="id_institucion1">ID Institución:</label>
                        <select id="id_institucion1" name="id_institucion" class="form-control" onchange="actualizarTabla()">
                            <option th:value="0">Seleccione una opción</option>
                            <option th:each="inst : ${institucion}" th:value="${inst.id_institucion}" th:text="${inst.nombre_institucion}"></option>
                        </select>
                    </div>
                    <thead>
                    </thead>
                    <tbody id="tablaBibliotecas">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
            function deshabilitar(id){
              Swal.fire({
                title: '¿Desea matar la biblioteca??',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: `Cancelar`,
              }).then((result) => {
                if (result.isConfirmed) {
                    deshabilitarBiblioteca(id);; //ESTADO CANCELADO
                  Swal.fire('Deshabilitada!', '', 'Aceptar')
                }
                })
            }
</script>
<script>
  habilitado = document.getElementById("bibHabilitado");
  if(habilitado){
    habilitado.value = 1;
  }
</script>
</body>
<script th:inline="javascript">
  function actualizarTabla() {
    var select = document.getElementById("id_institucion1");
    var idInstitucion = select.value;

    // Realizar una solicitud al servidor para obtener las bibliotecas correspondientes a la universidad seleccionada
    // Puedes utilizar fetch o jQuery.ajax para enviar una solicitud AJAX al servidor

    // Ejemplo utilizando fetch:
    fetch("/bibliotecas/" + idInstitucion)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        var tablaBibliotecas = document.getElementById("tablaBibliotecas");
        tablaBibliotecas.innerHTML = "";

        data.forEach(function(biblioteca) {
          var fila = document.createElement("tr");
          var columna1 = document.createElement("td");
          columna1.textContent = biblioteca.nombre_biblioteca;
          fila.appendChild(columna1);


          var columnaBoton = document.createElement("td");
          var boton = document.createElement("button");
          boton.textContent = "Borrar";
          // Agregar el evento onclick del botón según tus necesidades
          // Por ejemplo, puedes llamar a una función pasando el ID de la biblioteca
          boton.onclick = function() {
            // Tu lógica aquí
            deshabilitar(biblioteca.id_biblioteca);
            console.log("Botón presionado para la biblioteca con ID " + biblioteca.id_biblioteca);
          };

          columnaBoton.appendChild(boton);
          fila.appendChild(columnaBoton);

          tablaBibliotecas.appendChild(fila);
        });
      })
      .catch(function(error) {
        console.log(error);
      });
  }
</script>
<script>
    function deshabilitarBiblioteca(id){
        $.ajax({
            type: 'POST',
            url: '/bibliotecas/'+id,
            success: function(response) {
                var url = window.location.href;
                window.location.href = url;
            },
            error: function(xhr, status, error) {
              // Manejar errores, si es necesario
              console.error(error);
            }
          });
    }
</script>
</html>