<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Revisores</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- estilo propio -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <style>

        .form-container {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        margin: 10px;
        width: 400px;
        }
    .col-sm-offset-3 {
        margin-left: 7%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 1000px;
        }

    </style>

</head>
<body>
<div th:insert="fragments/nav0 :: navUser0"></div>
<div class="container" th:if="${gestorExistente.id_nivel == 2}">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-container">
                <h2>Agregar revisor</h2>
                    <p th:object="${gestorExistente}"></p>
                <form  method="post" th:object="${nuevoGestor}">
                    <input hidden="hidden" th:field="${nuevoGestor.id_nivel}" id="idNivel">
                    <input hidden="hidden" th:field="${nuevoGestor.id_institucion}" id="idInst">
                    <input hidden="hidden" th:field="${nuevoGestor.habilitado}" id="habilitado">
                    <div class="form-container2">
                        <div class="form-group">
                            <label for="rut">Rut (sin puntos ni guión):</label>
                            <input type="text" class="form-control" id="rut" name="rut" placeholder="Introduce tu rut" pattern="[0-9kK]+.{8,9}" th:field="*{rut_gestor}" required="required">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre y apellido:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" th:field="*{nombre}"required="required">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electronico:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo electronico" th:field="*{email}"required="required">
                        </div>
                        <div class="form-group">
                            <label for="contraseña">Contraseña:</label>
                            <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Introduce tu contraseña" th:field="*{password}" required>
                        </div>
                        <div class="form-group">
                            <label for="contraseña">Repetir Contraseña:</label>
                            <input type="password" class="form-control" id="Rcontraseña" name="contraseña" placeholder="Introduce tu contraseña" th:field="*{password}" required>
                        </div>
                        <label for="biblioteca">Biblioteca:  </label>
                        <select id="biblioteca" name="biblioteca" th:field="*{id_biblioteca}">
                            <option th:value="0">Seleccione una opción</option>
                            <option th:each="bib : ${bibliotecas}"  th:value="${bib.id_biblioteca}" th:text="${bib.nombre_biblioteca}"></option>
                        </select>
                    </div>

                    <button type="submit" id="enviar" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="form-container">
                <h2>Lista de revisores</h2>
                <div class="form-group">
                    <div class="container1" style="max-height: 350px; overflow-x: overlay;">
                        <table class="table table-bordered table-striped mb-0">
                            <tbody id="tablaBibliotecas">
                            <tr th:each="ges : ${gestores}" th:object="${ges}">
                                <td th:text="*{nombre}"></td>
                                <td th:text="*{rut_gestor}"></td>
                                <td>
                                    <button th:value="*{rut_gestor}" onclick="deshabilitar(this.value)">Borrar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  function deshabilitar(rut){
      console.log(rut);
      Swal.fire({
        title: '¿Desea Borrar al revisor?',
        showCancelButton: true,
        confirmButtonText: 'Aceptar',
        cancelButtonText: `Cancelar`,
      }).then((result) => {
        if (result.isConfirmed) {
          deshabilitarRevisor(rut);;
          Swal.fire('Borrado!', '', 'Aceptar')
        }
        })
    }
</script>
<script>
    function deshabilitarRevisor(rut){
        $.ajax({
            type: 'POST',
            url: '/pib/gestor/d/'+rut,
            success: function(response) {
                window.location.reload();
            },
            error: function(xhr, status, error) {
              // Manejar errores, si es necesario
              console.error(error);
            }
          });
    }
</script>
<script>
  nivel = document.getElementById("idNivel");
  idInst = document.getElementById("idInst");
  habilitado = document.getElementById("habilitado");
  if(nivel){
    nivel.value = 3;
  }
  if(habilitado){
    habilitado.value = 1;
  }
  $.ajax({
        url: "/pib/gestor",
        type: "GET",
        dataType: "json",
        success: function(data) {
0           idInst.value = data.id_institucion;
        },
        error: function(error) {
          reject(error);
        },
      });
</script>
</body>
</html>