<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- estilo propio -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<div th:insert="_fragments :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-container">
                <h2>Login</h2>
                <form action="" method="post" th:object="${gestor}" >
                    <div class="form-group">
                        <label> Rut </label>
                        <input type="text" class="form-control" pattern="[0-9kK]+.{8,9}" th:field="*{rut_gestor}" required>
                    </div>
                    <div class="form-group">
                        <label> Contraseña </label>
                        <input type="password" class="form-control" th:field="*{password}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>