<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom CSS -->
  <link th:href="@{/main.css}" rel="stylesheet" />
  <!-- estilo propio -->
</head>
<body>

<div th:insert="fragments/nav0 :: navUser0"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-container">
        <h2>Nueva Petición</h2>
        <form action="" method="post" th:object="${peticion}">
          <div class="form-container2">
          <input type="date" hidden="hidden" id="hora_local" th:field="*{fecha_peticion}">
          <input hidden="hidden" id="estado" th:field="*{id_estado}">
          <input type="text" hidden="hidden" id="ip" th:field="*{ip}">
          <div class="form-group">
            <label for="rut">Rut (sin puntos ni guión):</label>
            <input type="text" class="form-control" id="rut" name="rut" placeholder="Introduce tu rut"  th:field="*{rut_prestatario}" pattern="[0-9kK]+.{8,9}" required>
            <input hidden="hidden" th:object="${prestatario}" th:value="${peticion.rut_prestatario}">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre y apellido:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" th:object="${prestatario}" th:field="*{nombre}" required>
          </div>
          <div class="form-group">
            <label for="email">Correo:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Introduce tu correo electronico" th:object="${prestatario}" th:field="*{email}" required>
          </div>
          </div>
          <div class="form-container2">
          <div class="form-group">
            <label for="titulo">Titulo:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Introduce el titulo del libro" th:field="*{libro}" required>
          </div>
          <div class="form-group">
            <label for="autor">Autor:</label>
            <input type="text" class="form-control" id="autor" name="autor" placeholder="Introduce el autor del libro" th:field="*{autor}" required>
          </div>
          <div class="form-group">
            <label for="edicion">Edicion (0 es cualquiera):</label>
            <input type="text" class="form-control" id="edicion" name="edicion" placeholder="Introduce la edicion del libro" th:field="*{edicion}" required>
          </div>
          <div class="form-group">
            <label for="link">URL del libro:</label>
            <input type="text" class="form-control" id="link" name="link" placeholder="Introduce la direccion web del libro" th:field="*{link}"  required>
          </div>
          <div class="form-group">
            <label for="Tipo_Item">Tipo documento</label>
            <select id="Tipo_Item" name="Tipo_Item" th:field="*{id_item}" >
              <option th:each="tipo : ${tipo_item}"  th:value="${tipo.id_item}" th:text="${tipo.nombre_item}"></option>
            </select>
          </div>
          </div>
          <div class="form-container2">
          <div class="form-group">
            <label for="institucion">Institucion Prestataria (su institucion)</label>
            <select id="institucion" name="institucion" th:field="*{id_institucion_prestataria}" onchange="ReloadBibliotecas(this.value,'biblioteca')" >
              <option th:each="inst : ${institucion}"  th:value="${inst.id_institucion}" th:text="${inst.nombre_institucion}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="biblioteca">Biblioteca Prestataria (su bilbioteca)</label>
            <select id="biblioteca" name="biblioteca" th:field="*{id_biblioteca_prestataria}" >
            </select>
          </div>
          <div class="form-group">
            <label for="institucion1">Institucion Prestadora </label>
            <select id="institucion1" name="institucion1" th:field="*{id_institucion_prestadora}" onchange="ReloadBibliotecas(this.value,'biblioteca1')" >
              <option th:each="inst : ${institucion}"  th:value="${inst.id_institucion}" th:text="${inst.nombre_institucion}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="biblioteca1">Biblioteca Prestadora</label>
            <select id="biblioteca1" name="biblioteca" th:field="*{id_biblioteca_prestadora}" >
            </select>
          </div>
          </div>
            <button type="submit" id="enviar" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div>

</div>
<script>
  function ReloadBibliotecas(id,idSelect){
    $.ajax({
      type: "GET",
      url: "http://localhost:8080/bibliotecas/"+id,
      success: function (data) {
          $("#"+idSelect).empty();
          $("#"+idSelect).append('<option value="">Seleccione una opción</option>');
          $.each(data, function (index, value) {
              $("#"+idSelect).append('<option value="' + value.id_biblioteca + '">' + value.nombre_biblioteca + '</option>');
          });
      }
   });
  }

</script>

<script>
  estado = document.getElementById("estado");
  estado.value = 0;
</script>
<script>
  hora_local = document.getElementById("hora_local");
  date = new Date();
  hora_local.value = date.toISOString().slice(0, 10);
  document.write(hora_local.value);
</script>
<script>
  const ip = document.getElementById("ip");
  fetch('https://api.ipify.org?format=json')
  .then(response => response.json())
  .then(data => {
    ip.value = data.ip;
  })
  .catch(error => {
    console.error(error);
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      var combo1 = document.getElementById("institucion");
      var newOption1 = document.createElement("option");
      newOption1.value = "1";
      newOption1.text = "Seleccione una Opción";
      var combo2 = document.getElementById("biblioteca");
      var newOption2 = document.createElement("option");
      newOption2.value = "1";
      newOption2.text = "Seleccione una Opción";
      combo2.appendChild(newOption2);
      combo1.appendChild(newOption1);
      var combo3 = document.getElementById("biblioteca1");
      var newOption3 = document.createElement("option");
      newOption3.value = "1";
      newOption3.text = "Seleccione una Opción";
      combo3.appendChild(newOption3);
    });
</script>
    <script>
		$('form').submit(function(event) {
		document.getElementById("enviar").disabled = true;
			event.preventDefault();
			var formData = $(this).serialize();
			$.ajax({
				url: $(this).attr('action'),
				type: $(this).attr('method'),
				data: formData,
				success: function(response) {
					Swal.fire({
						title: 'Mensaje enviado',
						text: 'Gracias por ponerte en contacto con nosotros. Nos pondremos en contacto contigo lo antes posible.',
						icon: 'success',
						confirmButtonText: 'OK'
					}).then((result) => {
						if (result.isConfirmed) {
							location.reload();
						}
					});
				},
				error: function(response) {
					Swal.fire({
						title: 'Error',
						text: 'Ha ocurrido un error. Por favor, inténtalo de nuevo más tarde.',
						icon: 'error',
						confirmButtonText: 'OK'
					});
				}
			});
		});
	</script>
</body>
</html>