<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peticiones</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">  <!-- jQuery library -->

  <script
          src="https://code.jquery.com/jquery-3.6.4.js"
          integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
          crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Custom CSS -->
  <link th:href="@{/main.css}" rel="stylesheet" />
  <!-- estilo propio -->

</head>
<body>
<script th:inline="javascript">
  function obtenerNivel() {
    return new Promise(function(resolve, reject) {
      var nivel = { id_nivel: null };
      $.ajax({
        url: "http://localhost:8080/gestor",
        type: "GET",
        dataType: "json",
        success: function(data) {
          nivel.id_nivel = data.id_nivel;
          resolve(nivel);
        },
        error: function(error) {
          reject(error);
        },
      });
    });
  };
</script>

<script>
  obtenerNivel()
    .then(function(nivel) {
      document.getElementById("nivel").textContent = nivel.id_nivel;

      return nivel.id_nivel;
    })
    .then(function(opcion) {
      document.getElementById("opcionSeleccionada").textContent = opcion;
      document.getElementById("opcion1").style.display = "none";
      document.getElementById("opcion2").style.display = "none";
      document.getElementById("opcion3").style.display = "none";

      switch (opcion) {
        case 1:
          document.getElementById("opcion1").style.display = "block";
          break;
        case 2:
          document.getElementById("opcion2").style.display = "block";
          break;
        case 3:
          document.getElementById("opcion3").style.display = "block";
          break;
        default:
          break;
      }
    })
    .catch(function(error) {
      console.error(error);
    });
</script>

<p id="nivel" hidden="hidden"> </p>

<div>
  <p id="opcionSeleccionada" style="display: none;" ></p>

  <div id="opcion1" style="display: none;">
    <div th:insert="fragments/nav1 :: navUser1"></div>
  </div>
  <div id="opcion2" style="display: none;">
    <div th:insert="fragments/nav2 :: navUser2"></div>
  </div>
  <div id="opcion3" style="display: none;">
    <div th:insert="fragments/nav2 :: navUser2" ></div>
  </div>
</div>
<div class="container">
  <h1>Peticiones Entrantes</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
      <tr>
        <th>Id</th>
        <th>Autor</th>
        <th>Edicion</th>
        <th>Libro</th>
        <th>Rut</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pet : ${peticionesEntrantes}" th:object="${pet}">
        <td th:text="*{id_peticion}"></td>
        <td th:text="*{autor}"></td>
        <td th:text="*{edicion}"></td>
        <td><a th:href="*{link}" th:text="*{libro}" Target="_blank"></a></td>
        <td th:text="*{rut_prestatario}"></button></td>
        <td th:id="'correo-'+*{rut_prestatario}+'-idP-'+*{id_peticion}"></td>
        <td  th:id="'estado-'+*{id_estado}+'-idP-'+*{id_peticion}"></button> </td>
        <td style="display: flex;">
          <a  class="navbar-brand" th:href="@{peticion/{id}(id=*{id_peticion})}"><button  href="/peticiones" type="button" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg></button></a>
          <button class="btn btn-success" onclick="Alerta()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
          <script>
    function Alerta() {
      Swal.fire({
        title: 'Select field validation',
        input: 'select',
        inputOptions: {
          'Fruits': {
            apples: 'Apples',
            bananas: 'Bananas',
            grapes: 'Grapes',
            oranges: 'Oranges'
          },
          'Vegetables': {
            potato: 'Potato',
            broccoli: 'Broccoli',
            carrot: 'Carrot'
          },
          'icecream': 'Ice cream'
        },
        inputPlaceholder: 'Select a fruit',
        showCancelButton: true,
        inputValidator: (value) => {
          return new Promise((resolve) => {
            if (value === 'oranges') {
              resolve()
            } else {
              resolve('You need to select oranges :)')
            }
          })
        }
      }).then((result) => {
        if (result.value) {
          Swal.fire(`You selected: ${result.value}`)
        }
      });
    }
  </script>
          <!--MODAL -->
          <!--MODAL -->
          <button type="submit" th:value="*{id_peticion}" onclick="actualizarEstado(this.value,7)" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  function OpenModal(){
    $('#exampleModal').modal('show');
    /*
    // Obtener referencia al modal
    var modal = document.getElementById('ModalPrestatario');

    // Realizar una solicitud AJAX para obtener los datos de la base de datos
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/estado/prestatario', true); // Reemplaza '/ruta-para-obtener-datos' con la URL para obtener los datos
    xhr.onload = function() {
      if (xhr.status === 200) {
        // Actualizar el contenido del modal con los datos obtenidos
        modal.innerHTML = xhr.responseText;
        var selectElement = modal.querySelector('#selectEstado');

        // Obtener los datos obtenidos de la base de datos (suponiendo que es un array de objetos)
        var datos = JSON.parse(xhr.responseText);

        // Generar las opciones del select
        for (var i = 0; i < datos.length; i++) {
          var opcion = document.createElement('option');
          opcion.value = datos[i].id_estado; // Suponiendo que cada objeto tiene una propiedad "id"
          opcion.textContent = datos[i].estado; // Suponiendo que cada objeto tiene una propiedad "nombre"
          selectElement.appendChild(opcion);
        }
        // Mostrar el modal
        modal.style.display = 'block';
      }
    };
    xhr.send();
    */
  };
</script>
<script>
  function actualizarEstado(id,estado){
  console.log(id + ' '+ estado);

    $.ajax({
         url: 'http://localhost:8080/peticion/'+id+'/'+estado,
         type: 'PUT',
         success: function (data) {
            window.location.href = "http://localhost:8080/peticiones";
         },
         error: function () {
            alert('Ha ocurrido un error');
         }
      });

  }
</script>
<script>
  $(document).ready(function() {
   $('td[id^="estado-"]').each(function() {
      var id = $(this).attr('id').split('-')[1];
      var id1 = $(this).attr('id').split('-')[3];
      $.ajax({
         url: 'http://localhost:8080/estado/'+id,
         type: 'GET',
         success: function (data) {
            $('#estado-'+id+'-idP-'+id1).text(data.estado);
         },
         error: function () {
            alert('Ha ocurrido un error');
         }
      });
   });
   $('td[id^="correo-"]').each(function() {
      var id = $(this).attr('id').split('-')[1];
      var id1 = $(this).attr('id').split('-')[3];
      $.ajax({
         url: 'http://localhost:8080/prestatario/'+id,
         type: 'GET',
         success: function (data) {
            $('#correo-'+id+'-idP-'+id1).text(data);
         },
         error: function () {
            alert('Ha ocurrido un error');
         }
      });
   });

});
</script>

<div class="container">
  <h1>Peticiones Salientes</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
      <tr>
        <th>Id</th>
        <th>Autor</th>
        <th>Edicion</th>
        <th>Libro</th>
        <th>Rut</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pet1 : ${peticionesSalientes}" th:object="${pet1}">
        <td th:text="*{id_peticion}"></td>
        <td th:text="*{autor}"></td>
        <td th:text="*{edicion}"></td>
        <td><a th:href="*{link}" th:text="*{libro}" Target="_blank"></a></td>
        <td th:text="*{rut_prestatario}"></button></td>
        <td th:id="'correo-'+*{rut_prestatario}+'-idP-'+*{id_peticion}"></td>
        <td  th:id="'estado-'+*{id_estado}+'-idP-'+*{id_peticion}"></button> </td>
        <td style="display: flex;" >
          <div th:if="*{id_estado != 3}">
             <a  class="navbar-brand" th:href="@{peticion/{id}(id=*{id_peticion})}"><button  href="/peticiones" type="button" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg></button></a>
          </div>
          <button type="submit" th:value="*{id_peticion}" onclick="actualizarEstado(this.value,8)" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></button>
          <button type="submit" th:value="*{id_peticion}" onclick="actualizarEstado(this.value,7)" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Scripts de Bootstrap -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-g+tH1lUhLj0c6PjLsoQudQLZ/Qptdli1ET62KjxytV2vzjLwW6NHYU6onN05V4B4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-xZYscZiCpOH1/Hbbot+EJu/w3qHXyWwLhYvoFswjLX9v+RZG1db6Jgmm6u1zHvIy"
        crossorigin="anonymous"></script>
</body>
</html>